<template>
  <v-card
    color="#26c6da"
    dark
    min-width="320"
    max-width="360"
    outlined
    class="ma-4 mt-0 pa-1 info-card"
    :elevation="3"
  >
    <v-card-title class="pt-1 pb-1 pr-1">
      <v-icon large left>{{icon}}</v-icon>
      <div class="overline">
        {{title}}
        <span class="text-caption">(Completed)</span>
      </div>
    </v-card-title>
    <div class="display-1 text--primary pl-4">
      {{inprogress}}
      <span class="trend-wrapper">
        <v-icon v-if="trend > 0" large left color="green darken-2">mdi-trending-up</v-icon>
        <v-icon v-else large left color="red darken-2">mdi-trending-down</v-icon>
      </span>
    </div>
    <BarChart
      :backgroundColor="chartData.backgroundColor"
      :labels="chartData.labels"
      :data="chartData.data"
      :height="200"
    />
  </v-card>
</template>
<style scoped>
</style>
<script>
import BarChart from "./BarChart.vue";
export default {
  components: {
    BarChart
  },
  props: {
    title: String,
    inprogress: Number,
    icon: String,
    trend: Number,
    chartData: {
      type: Object,
      required: false,
      default() {
        return {
          backgroundColor: "#f87979",
          labels: [],
          data: []
        };
      }
    }
  },
  data() {
    return {};
  }
};
</script>