<template>
  <v-card class="ma-2 pa-1" min-width="280" :elevation="3">
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="headline">Completed Chart</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-card-text class="pt-0">
      <v-row align="center">
        <v-col class="display-3" cols="12">
          <AreaChart />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import AreaChart from "./shared/AreaChart.vue";
export default {
  components: {
    AreaChart
  },
  data() {
    return {
      labels: ["SU", "MO", "TU", "WED", "TH", "FR", "SA"],
      time: 0,
      forecast: [
        {
          category: "Work",
          icon: "mdi-briefcase",
          inprogress: "40/50"
        }
      ]
    };
  }
};
</script>