<template>
  <v-container fill-height fluid>
    <v-row :align="center" :justify="center">
      <v-col lg="4" md="5" sm="12">
        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
          <v-text-field
            v-model="title"
            :counter="30"
            :rules="titleRules"
            label="Title"
            outlined
            required
          ></v-text-field>

          <v-text-field
            v-model="description"
            :rules="descriptionRules"
            label="Description"
            outlined
            required
          ></v-text-field>

          <v-chip-group
            v-model="taskTypeCode"
            active-class="deep-purple--text text--accent-4"
            mandatory
          >
            <span class="mr-5 mt-2">Select Category</span>
            <v-chip :value="1">Work</v-chip>
            <v-chip :value="2">Personal</v-chip>
            <v-chip :value="3">Skill</v-chip>
          </v-chip-group>
          <v-textarea
            outlined
            name="input-7-4"
            class="mt-5"
            label="Task Detail"
            v-model="detail"
            value
          ></v-textarea>
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="deadline"
                label="Deadline"
                prepend-icon="event"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="deadline"
              full-width="false"
              @input="menu2 = false"
            ></v-date-picker>
          </v-menu>
          <!-- <v-select
            v-model="select"
            :items="items"
            :rules="[v => !!v || 'category is required']"
            label="Category"
            required
          ></v-select>-->

          <!-- <v-checkbox
            v-model="checkbox"
            :rules="[v => !!v || 'You must agree to continue!']"
            label="Do you agree?"
            required
          ></v-checkbox>-->

          <!-- <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">Validate</v-btn> -->

          <v-btn color="error" class="mr-4 mt-10" @click="reset">Clear</v-btn>

          <v-btn color="warning" class="mr-4 mt-10" @click="resetValidation"
            >Submit</v-btn
          >
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Create Task",
  components: {},
  data: () => ({
    menu: false,
    modal: false,
    menu2: false,
    valid: true,
    title: "",
    description: "",
    detail: "",
    taskTypeCode: 1,
    deadline: new Date().toISOString().substr(0, 10),
    titleRules: [
      (v) => !!v || "Title is required",
      (v) => (v && v.length <= 30) || "Title must be less than 30 characters",
    ],
    descriptionRules: [(v) => !!v || "Description is required"],
    select: null,
    items: ["Work", "Personal", "Skill"],
    checkbox: false,
    lazy: false,
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      //this.$refs.form.resetValidation();
      let taskDetail = {
        title: this.title,
        description: this.description,
        taskTypeCode: this.taskTypeCode,
        detail: this.detail,
        deadline: this.deadline,
      };
      console.log("taskDetail", taskDetail);
      this.$store.dispatch("createTask", taskDetail);
    },
  },
};
</script>

<style scoped>
</style>
