<template>
  <v-card class="ma-3 pa-1" min-width="280" max-width="360" :elevation="3">
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="headline">Inprogress</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-card-text class="pt-0">
      <v-row align="center">
        <v-col class="display-3" cols="12">
          <PieChart />
        </v-col>
      </v-row>
    </v-card-text>
    <v-list class="transparent">
      <v-list-item v-for="item in forecast" :key="item.category">
        <v-list-item-title>
          <v-icon>{{ item.icon }}</v-icon>
          <span>{{ item.category }}</span>
        </v-list-item-title>
        <v-list-item-subtitle class="text-right">{{
          item.inprogress
        }}</v-list-item-subtitle>
      </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn text>Full Report</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import PieChart from "./shared/PieChart.vue";
import { mapState } from "vuex";
export default {
  components: {
    PieChart,
  },
  data() {
    return {
      labels: ["SU", "MO", "TU", "WED", "TH", "FR", "SA"],
      time: 0,
      forecast: [
        {
          category: "Work",
          icon: "mdi-briefcase",
          inprogress: "40/50",
        },
        {
          category: "Personal",
          icon: "mdi-home-currency-usd",
          inprogress: "20/23",
        },
        {
          category: "Skill",
          icon: "mdi-human-handsup",
          inprogress: "10/12",
        },
      ],
    };
  },
  computed: { ...mapState(["overview"]) },
  methods: {
    async getTaskList() {
      await this.$store.dispatch("getTaskList");
      console.log("overview", this.overview);
      this.loadInprogressData();
    },
    loadInprogressData() {
      let workTotal = 10;
      let WorkInprogress = 5;
      this.forecast.map((taskType) => {
        if (taskType.category === "Work") {
          taskType.inprogress = `${WorkInprogress}/${workTotal}`;
        }
      });
    },
  },
  mounted: function () {
    this.getTaskList();
  },
};
</script>