<template>
  <div id="app overview-container">
    <v-container fill-height fluid>
      <v-row
        v-if="app.loadingStatus"
        no-gutters
        align="center"
        justify="center"
        style="height: 800px"
      >
        <v-spacer></v-spacer>
        <v-col col="6">
          <grid-loader
            :loading="loading"
            :color="color"
            :size="size"
          ></grid-loader>
        </v-col>
      </v-row>
      <transition name="fade" mode="out-in">
        <v-row
          v-if="!app.loadingStatus"
          :align="center"
          :justify="center"
          class="lighten-5"
          v-masonry
          transition-duration="0.3s"
          stagger="30"
          gutter="5"
          no-gutters
          column-width="160"
        >
          <v-col lg="3" md="4" sm="6" order="1">
            <InfoCard
              :key="1"
              title="work"
              icon="mdi-briefcase"
              :trend="overview.overviewInfo.workStatus.trend"
              :inprogress="overview.overviewInfo.workTaskCompleted"
              :chartData="{
                backgroundColor: '#f879ff',
                labels: ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
                data: overview.overviewInfo.workStatus.weekData,
              }"
            />
          </v-col>
          <v-col lg="3" md="4" sm="6" order="2">
            <InfoCard
              :key="2"
              title="personal"
              icon="mdi-home-currency-usd"
              :trend="overview.overviewInfo.personalStatus.trend"
              :inprogress="overview.overviewInfo.personalCompleted"
              :chartData="{
                backgroundColor: '#f87979',
                labels: ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
                data: overview.overviewInfo.personalStatus.weekData,
              }"
            />
          </v-col>
          <v-col lg="3" md="4" sm="6" order="3">
            <InfoCard
              :key="3"
              title="skill"
              icon="mdi-human-handsup"
              :trend="overview.overviewInfo.skillStatus.trend"
              :inprogress="overview.overviewInfo.skillCompleted"
              :chartData="{
                backgroundColor: '#f5ff79',
                labels: ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
                data: overview.overviewInfo.skillStatus.weekData,
              }"
            />
          </v-col>
          <v-col lg="2" md="4" sm="6" order="4">
            <InprogressCard />
          </v-col>
          <v-col lg="2" md="2" sm="6" order="5">
            <SmallCard
              title="To-do"
              :value="`${overview.overviewInfo.todoTask}`"
              icon="mdi-clipboard-list"
            />
          </v-col>
          <v-col lg="2" md="2" sm="6">
            <SmallCard
              title="In Progress"
              :value="`${overview.overviewInfo.inprogressTask}`"
              icon="mdi-progress-check"
            />
          </v-col>
          <v-col lg="2" md="2" sm="6">
            <SmallCard
              title="Completed"
              :value="`${overview.overviewInfo.completedTask}`"
              icon="mdi-clipboard-check-multiple"
            />
          </v-col>
          <v-col lg="2" md="2" sm="6">
            <SmallCard
              title="Total"
              :value="`${overview.overviewInfo.totalTask}`"
              icon="mdi-folder-multiple"
            />
          </v-col>
          <v-col lg="9" md="9" sm="4">
            <ChartCard />
          </v-col>
        </v-row>
      </transition>
      <!-- <v-row>
          <v-col cols="12">
            <v-row>
              <Counter msg="MYVA TaskManager" />
              <Card />
            </v-row>
          </v-col>
      </v-row>-->
    </v-container>
  </div>
</template>

<script>
import InfoCard from "./shared/InfoCard.vue";
import SmallCard from "./SmallCard.vue";
import InprogressCard from "./InprogressCard.vue";
import ChartCard from "./ChartCard.vue";
import { mapState } from "vuex";
import { ACTION_LOADING_START, ACTION_LOADING_END } from "./../store/app.store";
import GridLoader from "vue-spinner/src/GridLoader.vue";

export default {
  name: "overview",
  components: {
    InfoCard,
    InprogressCard,
    SmallCard,
    ChartCard,
    GridLoader,
  },
  data() {
    return {
      color: "#3f51b5",
      size: "20px",
    };
  },
  methods: {
    getOverviewInfo() {
      this.$store.dispatch("getOverviewInfo");
    },
  },
  computed: { ...mapState(["overview", "app"]) },
  mounted: function () {
    this.getOverviewInfo();
    this.$store.dispatch(ACTION_LOADING_END);
  },
  beforeCreate: function () {
    this.$store.dispatch(ACTION_LOADING_START);
  },
};
</script>

<style sass>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
  color: #2c3e50;
  width: 100vw;
}
/* .overview-container {

} */
</style>
