<template>
  <v-card
    color="#ffffff"
    min-width="280"
    max-width="360"
    :elevation="3"
    outlined
    class="d-inline-block red--text ma-3 pa-1"
  >
    <v-list-item>
      <v-list-item-avatar color="#ccddff">
        <v-icon>{{icon}}</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="text-uppercase font-weight-medium text-subtitle-2">{{title}}</v-list-item-title>
        <v-list-item-subtitle>All</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-content>
        <v-list-item-title align-end class="text-right">{{value}}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>
<style scoped>
</style>
<script>
export default {
  props: {
    title: String,
    value: String,
    icon: String,
    trend: Number,
    chartData: {
      type: Object,
      required: false,
      default() {
        return {
          backgroundColor: "#ffffff",
          labels: [],
          data: []
        };
      }
    }
  },
  data() {
    return {};
  }
};
</script>