<template>
  <div class="task-detail-wrapper">
    Task Detail
    <span>{{$route.params.taskId}}</span>
  </div>
</template>

<script>
</script>

<style lang="scss" scoped>
.task-detail-wrapper {
  text-align: center;
}
</style>