<template>
  <v-card class="mx-auto task-detail-container" max-width="344" outlined>
    <router-link :to="{ path: `/task-detail/${task.id}`}">
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4 task-title">{{task.title}}</div>
          <v-list-item-title class="caption mb-1">{{task.title}}</v-list-item-title>
          <v-list-item-subtitle>
            {{task.date}}
            <v-chip
              v-if="task.type"
              class="ma-2 task-category lighten-1"
              color="green"
              label
              text-color="white"
            >{{task.type}}</v-chip>
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar color="grey darken-3">
          <v-img
            class="elevation-6"
            src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
          ></v-img>
        </v-list-item-avatar>
      </v-list-item>
    </router-link>
  </v-card>
</template>
<script>
// import Badge from "./Badge.vue";
export default {
  components: {},
  props: {
    task: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    badgeColor() {
      const mappings = {
        Design: "purple",
        "Feature Request": "teal",
        Backend: "blue",
        QA: "green",
        default: "teal",
      };
      return mappings[this.task.type] || mappings.default;
    },
  },
};
</script>
<style lang="scss" scoped>
.task-detail-container {
  a {
    text-decoration: none;
  }
}
.task-title {
  line-height: 1rem !important;
}
.task-category {
  height: 25px !important;
}
</style>