<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
  color: #2c3e50;
  width: 100vw;
}
</style>
